<html>
  <head>
    <title>Gradient</title>
  </head>
  <body style="margin: 0;">
    <div id="gradient" style="height: 100%; background-color: <%= bgColor %>; background-image: <%= bgImage %>"></div>
  </body>
</html>
